@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Sarala:wght@400;700&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  
  --fonte-inicial: 'DM Serif Display', serif;
  --fonte-padrao: Sarala, sans-serif;
  --fonte-destaque: Young Serif, serif;

  --cor01: #0D2738;
  --cor02: #3B5F78;
  --cor03: #88A5B8;
  --cor04: #eeddc5;
  --cor05: #38260D;
  --cor-destaque: #f39c12;
  --preto-padrao: #1a242f;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  color: var(--preto-padrao);
  font-family: var(--fonte-padrao);
}

/* Header */
