@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Madimi+One&display=swap');
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {

  --fonte-padrao: Arial, Helvetica, sans-serif;
  --fonte-destaque: "Angkor", serif;
  --font-secundaria: "Madimi One", sans-serif;

  --cor01: #0D2738;
  --cor02: #3B5F78;
  --cor03: #82bbe0;
  --cor04: #eeddc5;
  --cor05: #38260D;
  --cor-destaque: #f39c12;
  --preto-padrao: #1a242f;
}
body {
  min-height: 100vh;
  overflow-x: hidden;
  color: var(--preto-padrao);
  font-family: var(--fonte-padrao);
}

/* Header */

header{
  background-color: var(--cor01);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  margin-bottom: 30px;
}
header h1{
  color: white;
  font-size: 1.5em;
  margin: 0px;
  font-family: var(--fonte-destaque);
}
a{
  cursor: pointer;
}
header a{
  color: white;
  text-decoration: none;
  transition: 0.3s;
  font-family: var(--font-secundaria);
}
header a:hover{
  color: white;
  text-decoration: none;
  color: var(--cor03);
}
#headTitle{
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: var(--fonte-destaque);
  cursor: pointer;
}
#headTitle img{
  width: 30px;
}
nav{
  display: flex;
  align-items: end;
  justify-content: space-between;
}
nav #ul{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  margin-left: 20px;
}
.dropdown a{
  padding: 0px;
  color: white;
}
.dropdown a:hover{
  color: white;
}
.dropdown-menu{
  color: black;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.427);
}
.dropdown-menu a{
  color: black;
  
}

.dropdown-menu a:hover{
  color: black;
}
#sair{
  margin-right: 20px;
}
#sair:hover{
  color: rgb(237, 102, 102);
}

.voltar{
  margin: 10px 0px;
  background-color: var(--cor02);
  border: none;
  border-radius: 4px;
  padding: 4px;
}
.voltar a{
  text-decoration: none;
  color: white;
}