@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#listagem{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h2{
    font-weight: bold;
    color: rgb(30, 30, 30);
}


.novo{
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(13, 184, 13);
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.4s;
  }
  .novo:hover{
    background-color: rgb(12, 122, 12);
    transform: translateY(5px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.449);
  }
  #editar, #deletar{
    padding: 7px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  #editar{
    background-color: rgb(205, 103, 0);
  }
  #deletar{
    background-color: rgb(172, 0, 0);
  }